backups/*
auto-save-list
*elc
places
elpa/
url/cookies
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
session*
tramp
\#*
history
/.org-id-locations
*~
.smex-items
ac-comphist.dat
tmp/